#wrapper * {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#title {
    background-color: gray;
    text-align: center;
}
#navigation *{
    list-style: none;
    text-align: center;
    background-color: lightgray;
    margin: auto;
}
#navigation > h2: {
    background-color: gray;
    width: 50%;
}

#navigation > a {
    width: 50%;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    display:  none;
}
#navigation:hover a {
    display: block;

}
#navigation a:hover {
    text-decoration: line-through;
}
